body {
  background-color: #D5E9ED;
  font-family: 'Noto Sans', sans-serif;
  padding-top: 20px;
}
.profile-background {
  height: 120px;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.profile-avatar {
  width: 90px;
  height: 90px;
  overflow: hidden;
  margin-top: -50px;
  border-radius: 100px;
  background-color: #fff;
  border: 2px solid #fff;
  margin-left: auto;
  margin-right: auto;
}
.profile-avatar img {
  max-width: 100%;
  height: auto;
  border-radius: 100px;
}
.profile-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.profile-description {
  font-family: 'Noto Serif', serif;
  font-style: italic;
  text-align: center;
}
.stats {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
}
.stats-item {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
}
.stats-title {
  font-size: 14px;
  color: #8CB0BB;
}
.stats-count {
  color: #087DE1;
  font-size: 22px;
  font-weight: 600;
}
.tweet-card {
  padding: 1.25rem;
  border-radius: 0px;
  border-bottom: 0px;
  margin-top: -1px;
}
.tweet-card:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0 0 0.25rem 0.25rem;
}
.tweet-card-rounded-top {
  border-radius: 0.25rem 0.25rem 0 0;
}
.tweet-date {
  font-size: 14px;
  font-family: 800;
  margin-bottom: 0.5rem;
}
.tweet-text p {
  margin-bottom: 0;
  font-size: 20px;
}
.tweet-text a {
  color: #54A7EF;
}
.font-size-small p {
  font-size: 16px;
}
.font-size-normal {
  font-size: 20px;
}
.font-size-large {
  font-size: 22px;
}
.footer {
  color: #538994;
  text-align: center;
  margin-top: 20px;
}
.footer a {
  color: #25a5bf;
  font-weight: 800;
}
.footer p {
  line-height: 2;
  padding-bottom: 16px;
}
